body {
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 15em;
    padding-right: 15em;
}

h1 {
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    padding: 1em;
    background: linear-gradient(to right, antiquewhite, rgb(218, 192, 158));
}

h2 {
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    padding: 1em;
    background: linear-gradient(to right, antiquewhite, rgb(218, 192, 158));
}

